@font-face {
	font-family: 'minecraftfont';
	src: url('minecraftfont/minecraftfont.eot');
	src: local('minecraftfont'), url('minecraftfont/minecraftfont.woff') format('woff'), url('minecraftfont/minecraftfont.ttf') format('truetype');
}

body {
    font-family: 'minecraftfont';
    font-size: 12pt;
    
    color: #FFFFFF;
    
    background-image: url('img/bg/grass_side.png'), url('img/bg/dirt.png'), url('img/bg/stone.png');
    background-position: left top, left 64px, left 128px;
    background-repeat: repeat-x, repeat-x, repeat;
}

hr {
    border: none;
    border-top: 2px dotted #606060;
}

a {
    color: #A0F0FF;
}

span.player {
    font-weight: bold;
}

div.player-nobody {
    font-weight: normal;
    font-style: italic;
    color: #A0A0A0;
    height: 28px;
    position: relative;
}

div.player-nobody div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

span.player img {
    display: none; /* Magic will be done using JavaScript */
}

span.player canvas {
    margin-right: 0.25em;
    border: 1px solid #202020;
}

h1 {
    clear: both;

    text-align: center;
    font-size: 125%;
    font-weight: normal;
    color: #C0C0C0;
    
    margin-top: 1em;
    margin-bottom: 0;
    
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#last-update {
    position: absolute;
    top: 0;
    right: 0;
    
    font-size: 75%;
    color: #C0C0C0;
    
    padding-top: 3ex;
    padding-right: 1em;
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
    
    font-size: 75%;
    color: #C0C0C0;
    
    padding-top: 3ex;
    padding-left: 1em;
}

#nav a {
    color: #E0E0E0;
}

#header {
    margin-top: 0;
    margin-bottom: 0;
    
    text-align: center;
    font-size: 350%;
    color: #FFFFFF;
    
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

#header span.icon {
    display: inline-block;
    width: 76px;
    height: 76px;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    vertical-align: -10%;
}

#header span.icon img {
    margin-left: 0px;
    margin-top: 6px;
    
    max-width: 64px;
    max-height: 64px;
    
    border: none;
}

#header table td.award span.icon {
    display: inline-block;
    width: 28px;
    height: 28px;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#header table td.award span.icon img {
    max-width: 24px;
    max-height: 24px;
    border: none;
}

#header table td.award img {
    max-width: 24px;
    max-height: 24px;
}

#listing-wrapper {
    margin-top: 2ex;
    
    width: 60%;
    margin-left: 20%;
}

.listing {
    text-align: center;
}

.listing p {
    text-align: center;
    font-size: 75%;
    color: #FFFFFF;
}

.listing p.date {
    color: #A0A0A0;
}

table.medals {
    color: #FFFFFF;

    width: 100%;
}

table.medals td.medal {
    text-align: right;
}

table.medals td.count {
    text-align: left;
}

table.listing {
    width: 100%;

    color: #FFFFFF;

    border: 2px solid #282828;
    border-collapse: collapse;
    background-image: url('img/bg/stonebrick.png');
}

table.listing th {
    font-weight: normal;
    text-decoration: underline;
    color: #C0C0C0;
    border: 2px dotted #404040;
    background-color: rgba(0, 0, 0, 0.33);
    padding: 0.5ex;
}

table.listing td {
    padding: 0.5ex;
    border: 2px dotted #404040;
    
    text-align: left;
}

table.listing td.medal0 {
    background-image: url('img/fatcow/medal_award_gold.png');
    background-position: 0.5em center;
    background-repeat: no-repeat;
}

table.listing td.medal1 {
    background-image: url('img/fatcow/medal_award_silver.png');
    background-position: 0.5em center;
    background-repeat: no-repeat;
}

table.listing td.medal2 {
    background-image: url('img/fatcow/medal_award_bronze.png');
    background-position: 0.5em center;
    background-repeat: no-repeat;
}

table.listing td.crown0 {
    background-image: url('img/fatcow/crown_gold.png');
    background-position: 0.5em center;
    background-repeat: no-repeat;
}

table.listing td.crown1 {
    background-image: url('img/fatcow/crown_silver.png');
    background-position: 0.5em center;
    background-repeat: no-repeat;
}

table.listing td.crown2 {
    background-image: url('img/fatcow/crown_bronze.png');
    background-position: 0.5em center;
    background-repeat: no-repeat;
}

table.listing td.place0 {
    background-color: rgba(255,224,0,0.33);
}

table.listing td.place1 {
    background-color: rgba(255,255,255,0.33);
}

table.listing td.place2 {
    background-color: rgba(255,128,0,0.33);
}

table.listing td.rank {
    text-align: right;
    color: #C0C0C0;
}

table.listing td.player {
    font-weight: bold;
}

table.listing td.center {
    text-align: center;
}

table.listing td.score-bronze {
    color: #FFA050;
}

table.listing td.score-silver {
    color: #E0E0FF;
}

table.listing td.score-gold {
    color: #FFE000;
}

table.listing td.score {
    font-weight: bold;
}

table.listing td.award {
    font-weight: bold;
}

table.listing td.award img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

table.listing td.date {
    color: #C0C0C0;
}

table.listing td.inactive {
    color: #C0A0A0;
    font-style: italic;
}

table.listing td.stat {
    color: #C0C0C0;
    text-align: right
}

#awards {
    width: 100%;
    margin: 2ex;
}

#awards .award-box {
    font-size: 12pt;

    border: 2px solid #282828;
    border-radius: 6px;
    background-image: url('img/bg/stonebrick.png');
    
    float: left;
    width: 22%;
    
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1ex;
    padding: 0.5ex;
}

#awards .award-box .award-icon {
    width: 34px;
    height: 34px;
    float: left;
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

#awards .award-box .award-icon img {
    margin-left: 2px;
    margin-top: 2px;
    
    max-width: 30px;
    max-height: 30px;
    
    border: none;
}

#awards .award-box .award-title {
    height: 34px;

    font-size: 125%;
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    
    margin-left: 38px;
    padding-left: 0.5em;
}

#awards .award-box .award-winner-box {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    
    padding: 0.5ex;
    margin-top: 0.25ex;
}

#awards .award-box .award-winner {
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

#awards .award-box .award-winner span.award-winner-nobody {
    font-weight: normal;
    font-style: italic;
}

#awards .award-box .award-text {
    text-align: center;
    color: #A0A0A0;
    
    font-size: 75%;
}

#awards .award-box .award-text span.award-score {
    font-weight: bold;
    
    margin-left: 0.5em;
}

#king {
    font-size: 150%;
    text-align: center;
    
    border: 4px solid #FFE040;
    border-radius: 16px;
    background-image: url('img/bg/wool_colored_red.png');
    
    margin-top: 1.5ex;
    margin-bottom: 1.5ex;
    padding-bottom: 1.5ex;
}

#king p {
    color: #FFE040;
    margin-bottom: 2ex;
}

#king span.player {
    position: relative;
}

#king span.player img.crown {
    display: inline;

    position: absolute;
    left: -1px;
    bottom: 20px;
}

#foot-wrapper {
    clear: both;
}

#foot {
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 8px;
    
    padding: 0.5em;
    
    text-align: right;
    font-size: 75%;
    color: #808080;
}
