/* define Minecraft font */
@font-face {
    font-family: 'minecraftia';
    src: url('font/minecraftia.woff2');
}

/* Global */
html {
    font-size: 12px;
}

/* Body */
body {
    font-family: 'minecraftia', monospace;

    color: #EEE;

    background-color: black;
    background-image: url('img/bg/grass_side.png'), url('img/bg/dirt.png'), url('img/bg/stone.png');
    background-position: left top, left 64px, left 128px;
    background-repeat: repeat-x, repeat-x, repeat;
}

/* Links */
a {
    color: #ACF;
    text-decoration: none;
}

a:hover {
    color: #ACF;
    text-decoration: underline;
}

/* Nav */
#navigation {
    background-color: rgba(0,0,0,0.75);
    border-radius: 0.5rem;
}

#navbar-content {
    z-index: 1;
}

.navbar-dark .navbar-toggler {
    background-color: rgba(0,0,0,0.5);
    border-width: 1px;
    border-color: #333;
}

.navbar-dark .navbar-nav .nav-link { color: #ACF; }
.navbar-dark .navbar-nav .nav-link:focus { color: #ACF; }
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ACF;
    text-decoration: underline;
}

/* Info */
#info {
    background-color: rgba(0,0,0,0.75);
    border-radius: 0.5rem;
}

/* Text content types */
.text-muted { color: #999 !important; }
.text-success { color: #AFA !important; }
.text-danger { color: #FAA !important; }
.text-info { color: #CCF !important; }
.text-data { color: #FFA !important; }

/* Tables */
.table thead th {
    color: #FFF;
    border-bottom-style: solid;
    border-bottom-color: #666 !important;
    border-bottom-width: 2px;
}

.table tbody td, .table tbody th {
    border-top-style: dashed;
    border-top-color: #666;
    border-top-width: 1px;
    border-bottom-style: none;
}

.table tbody tr:hover {
    color: #EEE;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.33);
}

/* Time data */
.table .time-data {
    display: inline-block;
    margin: 0;
    border-spacing: 0;
}

.table .time-data td {
    border-style: none;
    text-align: right;
    color: #FFA;
    padding: 0;
    margin: 0;
}

.table .time-data tr:hover {
    background-color: transparent !important;
}

.table .time-data .days    { width: 3em; }
.table .time-data .hours   { width: 2.75em; }
.table .time-data .minutes { width: 3.75em; }
.table .time-data .seconds { width: 2.75em; }

/* Text styles */
.text-shadow { text-shadow: 2px 2px rgba(0,0,0,0.5); }
.text-underline { text-decoration: underline; }

/* Images */
.img-pixelated {
    /* "official" proposal */
    image-rendering: pixelated;
    /* Firefox (and others?) */
    image-rendering: optimizeSpeed;
    /* Internet Exploder */
    -ms-interpolation-mode: nearest-neighbor;
}

.img-textsize { height: 1em; }
.img-textsize-1_5 { height: 1.5em; }
.img-textsize-2 { height: 2em; }
.img-textsize-3 { height: 3em; }
.img-textsize-8 { height: 8em; }

.img-left { margin-left: -1em; }

/* Sizes */
.textw { width: 1em; min-width: 1em; max-width: 1em; }
.texth { height: 1em; min-height: 1em; max-height: 1em; }

.textw-1_5 { width: 1.5em; min-width: 1.5em; max-width: 1.5em; }
.texth-1_5 { height: 1.5em; min-height: 1.5em; max-height: 1.5em; }

/* Pagination */
.page-link {
    border-color: #888;
    background-color: rgba(0, 0, 0, 0.33);
    color: #FFF;
}

.page-link:hover {
    border-color: #ACF;
    background-color: rgba(0, 0, 0, 0.33);
    color: #ACF;
}

.page-dots {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.page-item.active .page-link {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.33);
    border-color: #FA4;
    color: #FE0;
}

.page-item.disabled .page-link {
    background-color: rgba(0, 0, 0, 0.33);
    border-color: #888;
    color: #888;
}

/* Dropdowns */
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.dropdown-item:hover {
    background-color: unset;
}

a.dropdown-item {
    color: #ACF;
    text-decoration: none;
}

a.dropdown-item:hover {
    color: #ACF;
    text-decoration: underline;
}

/* Specials */
.rank   { color: #888; }
.rank-1 { color: #FC0; }
.rank-2 { color: #DDF; }
.rank-3 { color: #A80; }

.round-box {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
}

.mcstats-entry {
    border: 0.125rem solid #444;
    border-radius: 0.75rem;

    background-image: url('img/bg/stonebrick.png');
}

.minecraft-face {
}

#header {
    height: 64px;
}

#footer {
    background-image: url('img/bg/bedrock.png');
    background-position: top left;
    background-repeat: repeat;
}

/* Minecraft text formattings */
.mc-text-0 { color: #000000; } /* black */
.mc-text-1 { color: #0000AA; } /* dark_blue */
.mc-text-2 { color: #00AA00; } /* dark_green */
.mc-text-3 { color: #00AAAA; } /* dark_aqua */
.mc-text-4 { color: #AA0000; } /* dark_red */
.mc-text-5 { color: #AA00AA; } /* dark_purple */
.mc-text-6 { color: #FFAA00; } /* gold */
.mc-text-7 { color: #AAAAAA; } /* gray */
.mc-text-8 { color: #555555; } /* dark_gray */
.mc-text-9 { color: #5555FF; } /* blue */
.mc-text-a { color: #55FF55; } /* green */
.mc-text-b { color: #55FFFF; } /* aqua */
.mc-text-c { color: #FF5555; } /* red */
.mc-text-d { color: #FF55FF; } /* light_purple */
.mc-text-e { color: #FFFF55; } /* yellow */
.mc-text-f { color: #FFFFFF; } /* white */
.mc-text-k { /* obfuscated */
        transform: scale(1, -1) translateY(-1px);
        text-shadow: -1.5px 1.5px;
        display: inline-block;
}
.mc-text-l { font-weight: bold; } /* bold */
.mc-text-m { text-decoration: line-through; } /* strikethrough */
.mc-text-n { text-decoration: underline; } /* underline */
.mc-text-o { font-style: italic; } /* underline */
