/* define Minecraft font */
@font-face {
    font-family: 'minecraftfont';
    src: url('minecraftfont/minecraftfont.eot');
    src: local('minecraftfont'), url('minecraftfont/minecraftfont.woff') format('woff'), url('minecraftfont/minecraftfont.ttf') format('truetype');
}

/* Global */
html {
    font-size: 12px;
}

/* Body */
body {
    font-family: 'minecraftfont', monospace;

    color: #EEE;

    background-color: black;
    background-image: url('img/bg/grass_side.png'), url('img/bg/dirt.png'), url('img/bg/stone.png');
    background-position: left top, left 64px, left 128px;
    background-repeat: repeat-x, repeat-x, repeat;
}

/* Links */
a { color: #ACF; }
a:hover { color: #ACF; }

/* Nav */
.navbar-dark .navbar-toggler {
    background-color: rgba(0,0,0,0.5);
    border-width: 1px;
    border-color: #333;
}

.navbar-dark .navbar-nav .nav-link { color: #ACF; }
.navbar-dark .navbar-nav .nav-link:focus { color: #ACF; }
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ACF;
    text-decoration: underline;
}

/* Text content types */
.text-muted { color: #999 !important; }
.text-success { color: #AFA !important; }
.text-danger { color: #FAA !important; }
.text-info { color: #CCF !important; }
.text-data { color: #FFA !important; }

/* Text styles */
.text-shadow { text-shadow: 2px 2px rgba(0,0,0,0.5); }
.text-underline { text-decoration: underline; }

/* Images */
.img-pixelated { image-rendering: pixelated; }

.img-textsize { height: 1em; }
.img-textsize-1_5 { height: 1.5em; }
.img-textsize-2 { height: 2em; }
.img-textsize-3 { height: 3em; }
.img-textsize-8 { height: 8em; }

.img-left { margin-left: -1em; }

/* Sizes */
.textw { width: 1em; min-width: 1em; max-width: 1em; }
.texth { height: 1em; min-height: 1em; max-height: 1em; }

.textw-1_5 { width: 1.5em; min-width: 1.5em; max-width: 1.5em; }
.texth-1_5 { height: 1.5em; min-height: 1.5em; max-height: 1.5em; }

/* Tables */
.table {
    margin-bottom: 0;
}

.table td, .table th {
    border-top-style: dashed;
    border-top-color: #666;
}

.table thead th {
    border-top-width: 0;
    border-bottom-color: #666;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.33);
}

/* Specials */
.rank   { color: #888; }
.rank-1 { color: #FC0; }
.rank-2 { color: #DDF; }
.rank-3 { color: #A80; }

.round-box {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
}

.mcstats-entry {
    border: 0.125rem solid #444;
    border-radius: 0.75rem;

    background-image: url('img/bg/stonebrick.png');
}

.minecraft-face {
}

#header {
    height: 64px;
}

#footer {
    background-image: url('img/bg/bedrock.png');
    background-position: top left;
    background-repeat: repeat;
}
