/* define Minecraft font */
@font-face {
  font-family: minecraftia;
  src: url(../font/minecraftia.woff2);
}

@font-face {
  font-family: Zpix;
  src: url(../font/zpix.woff2?v2021-03-21);
}

@font-face {
  font-family: Monocraft;
  src: url(../font/Monocraft.ttf);
}

/* Global */
html {
  font-size: 12px;
}

/* Body */
body {
  font-family: minecraftia, Zpix, monospace;
  color: #cdd6f4;
  background-position: left top, left 64px, left 128px;
  background-color: #1e1e2e;
}

/* Links */
a {
  color: #cdd6f4;;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: rgb(137, 180, 250);
  text-decoration: underline;
}

/* Nav */
#navigation {
  background-color: rgb(88, 91, 112 );
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: center;
}

#navbar-content {
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.navbar-dark .navbar-toggler {
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-color: #333;
}

.navbar-dark .navbar-nav .nav-link {
  color: #cdd6f4;
}
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgb(137, 180, 250);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(137, 180, 250);
  text-decoration: underline;
}

/* Info */
#info {
  background-color: rgb(108, 112, 134);
  border-radius: 0.5rem;
}

/* Text content types */
.text-muted {
  color: white !important;
}
.text-success {
  color: rgb(166, 227, 161) !important;
}
.text-danger {
  color: rgb(243, 139, 168) !important;
}
.text-info {
  color: rgb(249, 226, 175) !important;
}
.text-data {
  color: rgb(137, 180, 250) !important;
}

/* Tables */
.table thead th {
  color: #cdd6f4;
  border-bottom-style: solid;
  border-bottom-color: #6c7086 !important;
  border-bottom-width: 2px;
}

.table tbody td,
.table tbody th {
  border-top-style: dashed;
  border-top-color: #6c7086;
  border-top-width: 1px;
  border-bottom-style: none;
}

.table tbody tr:hover {
  color: rgba(147, 153, 178, 0.3)
}

.table-hover tbody tr:hover {
  background-color: rgba(147, 153, 178, 0.3)
}

/* Time data */
.table .time-data {
  display: inline-block;
  margin: 0;
  border-spacing: 0;
}

.table .time-data td {
  border-style: none;
  text-align: right;
  color: #f9e2af;
  padding: 0;
  margin: 0;
}

.table .time-data tr:hover {
  background-color: transparent !important;
}

.table .time-data .days {
  width: 3em;
}
.table .time-data .hours {
  width: 2.75em;
}
.table .time-data .minutes {
  width: 3.75em;
}
.table .time-data .seconds {
  width: 2.75em;
}

/* Text styles */
.text-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.text-underline {
  text-decoration: underline;
}

/* Images */
.img-pixelated {
  /* "official" proposal */
  image-rendering: pixelated;
  /* Firefox (and others?) */
  image-rendering: optimizeSpeed;
  /* Internet Exploder */
  -ms-interpolation-mode: nearest-neighbor;
}

.img-textsize {
  height: 1em;
}
.img-textsize-1_5 {
  height: 1.5em;
}
.img-textsize-2 {
  height: 2em;
}
.img-textsize-3 {
  height: 3em;
}
.img-textsize-8 {
  height: 8em;
}

.img-left {
  margin-left: -1em;
}

/* Sizes */
.textw {
  width: 1em;
  min-width: 1em;
  max-width: 1em;
}
.texth {
  height: 1em;
  min-height: 1em;
  max-height: 1em;
}

.textw-1_5 {
  width: 1.5em;
  min-width: 1.5em;
  max-width: 1.5em;
}
.texth-1_5 {
  height: 1.5em;
  min-height: 1.5em;
  max-height: 1.5em;
}

/* Pagination */
.page-link {
  border-color: #888;
  background-color: rgba(0, 0, 0, 0.33);
  color: #fff;
}

.page-link:hover {
  border-color: #acf;
  background-color: rgba(0, 0, 0, 0.33);
  color: #acf;
}

.page-dots {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.page-item.active .page-link {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.33);
  border-color: #fa4;
  color: #fe0;
}

.page-item.disabled .page-link {
  background-color: rgba(0, 0, 0, 0.33);
  border-color: #888;
  color: #888;
}

/* Dropdowns */
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.dropdown-item:hover {
  background-color: unset;
}

a.dropdown-item {
  color: #acf;
  text-decoration: none;
}

a.dropdown-item:hover {
  color: #acf;
  text-decoration: underline;
}

/* Specials */
.rank {
  color: #888;
}
.rank-1 {
  color: #f9e2af
}
.rank-2 {
  color: #a6adc8;
}
.rank-3 {
  color: #fab387;
}

.round-box {
  border-radius: 0.5rem;
  border: #6c7086 solid 2px;
}

.mcstats-entry {
  /* border: 0.125rem solid #fff; */
  border-radius: 0.5rem;
  background: #313244;
  box-shadow: rgb(0 0 0 / 50%) 0 0 0.75rem;
}

.minecraft-face {
}

#header {
  height: 64px;
}

#footer {
  background-color: rgb(24, 24, 37, 0.75);
  background-position: top left;
  background-repeat: repeat;
}

/* Minecraft text formattings */
.mc-text-0 {
  color: #cdd6f4;
} /* black */
.mc-text-1 {
  color: #89b4fa;
} /* dark_blue */
.mc-text-2 {
  color: #a6e3a1;
} /* dark_green */
.mc-text-3 {
  color: #94e2d5;
} /* dark_aqua */
.mc-text-4 {
  color: #eba0ac;
} /* dark_red */
.mc-text-5 {
  color: #b4befe;
} /* dark_purple */
.mc-text-6 {
  color: #f9e2af;
} /* gold */
.mc-text-7 {
  color: #cdd6f4;
} /* gray */
.mc-text-8 {
  color: #cdd6f4;
} /* dark_gray */
.mc-text-9 {
  color: #89b4fa;
} /* blue */
.mc-text-a {
  color: #94e2d5  ;
} /* green */
.mc-text-b {
  color: #89dceb;
} /* aqua */
.mc-text-c {
  color: #f38ba8;
} /* red */
.mc-text-d {
  color: #cba6f7;
} /* light_purple */
.mc-text-e {
  color: #f9e2af;
} /* yellow */
.mc-text-f {
  color: #cdd6f4;
} /* white */
.mc-text-k {
  /* obfuscated */
  transform: scale(1, -1) translateY(-1px);
  text-shadow: -1.5px 1.5px;
  display: inline-block;
}
.mc-text-l {
  font-weight: bold;
} /* bold */
.mc-text-m {
  text-decoration: line-through;
} /* strikethrough */
.mc-text-n {
  text-decoration: underline;
} /* underline */
.mc-text-o {
  font-style: italic;
} /* underline */
